

<div class="container cards_container">
  <div class="row">
    <%# @flats.each do |flat| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
    <%# render 'shared/card', flat: flat %>
    <h1>Index page of flats</h1>
     </div>
    <%# end %>
  </div>
</div>

