<div class="container">
  <div class="grid">
    <div class="user-bookings">
      <h3 class="text-center">My bookings for flats</h3>
      <% current_user.bookings.each do |booking| %>

      <div class="booking">
        <%= render 'user_bookings', booking: booking %>
      </div>

      <% end %>
    </div>
    <div class="flats-bookings">
      <h3 class="text-center">My flats booked by strangers...</h3>
      <% current_user.flats.each do |flat| %>
        <% flat.bookings.each do |booking| %>
          <%= render 'flat_bookings', booking: booking %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>


