
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%= simple_form_for @user do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name%>
      <%= f.submit class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
