.info-container {
  display: flex;
  height: 1000px;
  width:60%;
  flex-direction: column;
  align-items: stretch;
  top: 10px;
}

.booking-form {
  background-color: #fff;
  box-shadow: 1px 1px 10px #999;
  margin-top: 60px;
  padding: 20px;
  width: 30%;
  height: 50vh;
  position: sticky;
  top: 30px;
}

.flat-photo {
  margin-top:20px;
  height:500px;
  overflow: hidden;
}

.flat-photo img {
  width:100%;
}

.map-show {
  height:400px;
  margin-top:20px;
  width:60%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 80%;
    margin: auto;
    height:500px;
}

