.main-container {
  display: flex;
  align-items: stretch;
}

.info-container {
  width: 500px;
}

.booking-form {
  width: 250px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
